@import "./LeftSide/leftSide.styl"
@import "./Main/main.styl"
@import "Main/profile/postMessageBlock/postMessageBlock.styl"
@import "./RightSide/rightSide.styl"


.social
  max-width 80%
  border 1px solid grey
  margin 0 auto
  margin-top 110px

  display flex
