.right-side-user
  display flex
  margin 20px 0 20px 20px
  border-bottom 1px solid lightgray
  width 60%
  height 60px
  position relative


  .right-side-user-logo
    background white
    height 60px
    z-index 2
    position relative
    bottom -1px
    img
      width 40px
      height 40px
      border-radius 20px
      border 1px solid #6d6e71
      display block


  .right-side-user-info
    height 60px
    margin-left 10px

    .right-side-user-name
      margin-bottom 10px

    a
      color #8dc63f
      text-decoration none
      a:hover
        text-decoration #8dc63f


